* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    font-size: 62.5%;
}
body {
    font-family: "Kumbh Sans";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    width: 100vw;
    justify-content: space-around;
    position: relative;
}
main {
    margin-top: -4rem;
} 
.navigation {
    margin-left: -10rem;
    width: 40rem;
    display: flex;
    gap: 3rem;
}
.navigate {
    display: flex;
    gap: 3rem;
    align-items: center;
}
.navigate li {
    font-size: 1.3rem;
    color: hsl(219, 9%, 45%);
    font-weight: 700;
    list-style: none;
}
.area__user {
    display: flex;
    gap: 3rem;
    align-items: center;
}
.cart img{
    height: max-content;
}
.avata {
    max-width: 5rem;
    max-height: 5rem;
}
.details__header {
    height: 2px;
    width: 80%;
    border-radius: 10rem;
    background-color: hsl(219, 9%, 20%);
    opacity: .2;
    position: absolute;
    bottom: 0;
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 75vw;
}
.grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2rem;
}
.images__products {
    max-width: 30rem;
    max-height: 35rem;
}
.imgProducts {
    border-radius: 2rem;
    display: none;
}
.imgProducts {
    width: 100%;
}
.imgProducts.active{
    display: block;
}
.images__thumbnail {
    display: flex;
    gap: 2rem;
}
.imgThumb {
    max-width: 6rem;
    max-height: 6rem;
    border-radius: .5rem;
}
.grid2 {
    width: 50%;
}
.product__infos {
    display: flex;
    width: 40rem;
    flex-direction: column;
}
.subtitle {
    text-transform: uppercase;
    width: 40rem;
    color: hsl(26, 100%, 55%);
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.title {
    color: hsl(0, 0%, 0%);
    font-size: 3rem;
    width: 40rem;
    line-height: 3.5rem;
    word-spacing: 1rem;
    word-break: keep-all;
    margin-bottom: 4rem;
}
.describle {
    width: 40rem;
    word-break: normal;
    color: hsl(219, 9%, 45%);
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.price__content {
    display: flex;
    gap: 1.8rem;
    font-size: 1.6rem;
}
.price h3{
    margin-top: .8rem;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
}
.sale {
    height: 3rem;
    border-radius: .6rem;
    background-color: hsl(26, 100%, 80%);
    padding: 2px 8px;
    color: hsl(26, 100%, 50%);
}
.botoes {
    display: flex;
    justify-content: space-around;
    margin-left: -20rem;
    align-items: center;
    height: 3rem;
}
.add__product {
    height: 3rem;
    background-color:hsl(223, 64%, 98%);
    min-height: 2rem;
    width: 10rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.add__product button{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: hsl(26, 100%, 50%);
    margin-left: 2px;
    cursor: pointer;
}
.button__add {
    display: flex;
    gap: 2rem;
}
.button__add p {
    color: black;
    font-weight: 700;
    text-align: center;
}
.add__cart button{
    border: none;
    background: none;
    background-color: hsl(26, 100%, 50%);
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .7rem;
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    gap: 1rem;
}
.add__cart img {
    height: 1.3rem;
}
.attribution {
    margin-top: 7rem;
}